/* .wc-chess-board.board {
  background-size: 100%;
  padding-bottom: 100%;
  height: 0;
  display: block;
} */

.chessboard-wrapper {
  width: 400px;
}

@media only screen and (max-width: 560px) {
  .chessboard-component {
    flex-direction: column;
  }
  .chessboard-wrapper {
    width: 100%;
  }
  .controls {
    gap: 6px;
  }
}
